

.welcome{
	text-align:center;
	color:white;
	font-family: 'Press Start 2P', cursive;
}

html, body {
  width:  95%;
  height: 95%;
  margin: 0px;
  background-image: url("http://www.storywarren.com/wp-content/uploads/2016/09/space-1.jpg");
}

.winner{
	text-align:center;
}
.kills{
	text-align:center;
}
.time{
	text-align:center;
}

button.readyB{
	 width: 7em;  height: 3em;
}
button.buttonPA{
	font-family: 'Press Start 2P', cursive;
	left:50%;
	width:100px;
	height: 50px;
	text-align:center;
	color:white;
	background:black;
	border-color:blue;
}

button.buttonPA1{
	font-family: 'Press Start 2P', cursive;
	font-size:30px;
	left:50%;
	width:200px;
	height: 100px;
	text-align:center;
	color:white;
	background:black;
	border-color:blue;
}
.center{
	text-align:center;
}

.whiteWords21{
	text-align:center;
	color:white;
	font-family:'Press Start 2P',cursive;
	font-size:40px;
}
input[type='text'] { font-family: 'Press Start 2P', cursive; }

.welcome1{
	text-align:center;
	color:white;
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	
}
.username1{
	left: 19%;
	top: 75%;
	position: absolute;
	
}


.username2{
	left: 73%;
	top: 75%;
	position: absolute;
	
}

.color11{
	left: 53%;
	top: 75%;
	position: absolute;
}

.color22{
	left: 53%;
	top: 75%;
	position: absolute;
}
.container{
	display:inline;
}
.whiteWordsL{
	color:white;
	font-family: 'Press Start 2P', cursive;
	float: left;
	font-size:29px;
}
.timer{
float:right;
}
.whiteWords{
	color:white;
	font-family: 'Press Start 2P', cursive;
	font-size:98%;
}

.whiteWords99{
	color:white;
	font-family: 'Press Start 2P', cursive;
	font-size:24px;
	
}
.whiteWords98{
color:white;
font-family: 'Press Start 2P', cursive;
float:left;
font-size:18px;
}

.readyB{
	left:30%;
	top: 120%;
	position: absolute;
	font-family: 'Press Start 2P', cursive;
	
}